include ../blocks/doctype

  title Gi&#x1EDB;i thi&#x1EC7;u
  body
    include ../blocks/header
    section.top
      .img_box
      .box_inside
        h1 HELLO, WE ARE SUN CAKE
        hr
        p An Artisan Bakery Serving 
          br 
          | a Unique Selection of Freshly Baked Bread
          
      // <div class= "white_bg"></div>
    section
      .grid-container
        .grid-items
          h2
            | Tươi sạch & 
            br
            | chất lượng
          p Chúng tôi sử dụng nguyên liệu chất lượng mà chúng tôi lấy trực tiếp từ nông dân. những người ủng hộ chúng tôi là những người có kinh nghiệm trong lĩnh vực thực phẩm. Vì vậy, sản phẩm chúng tôi sản xuất ra được đảm bảo chất lượng và hương vị. Nó rất ngon, bạn phải thử nó!
        .grid-items
          img(src='https://images.unsplash.com/photo-1608198093002-ad4e005484ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80')
        .grid-items
          img(src='https://images.unsplash.com/photo-1511018556340-d16986a1c194?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')
        .grid-items
          h2
            | Trải nghiệm
            br
            | thú vị
          p Chúng tôi sử dụng nguyên liệu chất lượng mà chúng tôi lấy trực tiếp từ nông dân. những người ủng hộ chúng tôi là những người có kinh nghiệm trong lĩnh vực thực phẩm. Vì vậy, sản phẩm chúng tôi sản xuất ra được đảm bảo chất lượng và hương vị. Nó rất ngon, bạn phải thử nó!


    
    include ../blocks/footer
    //- script(src='../build/scripts/login.js' type='module')
    //- script(src='../build/scripts/signup.js' type='module')
    script(src='./scripts/main.js')
    script(src='./scripts/navbar.js' type='module')
    script(src='./scripts/slideshow.js')