footer
  .footer_top
    a.footer_top_left(href='homepage.html')
      .icon
        img(src='assets/logo.png')
      span Sun Cake
    .footer_top_right
      ul
        li 
          a(href='menu.html') THỰC ĐƠN
        li
          a(href='aboutus.html') GIỚI THIỆU
        //- li LIÊN HỆ
  .footer_bottom
    .footer_bottom_left
      i.fa-regular.fa-copyright
      span 2022 UIT
    .footer_bottom_right
      ul
        li
          i.fa-brands.fa-facebook
        li
          i.fa-brands.fa-twitter
        li
          i.fa-brands.fa-instagram
        li
          i.fa-brands.fa-github
        li
          i.fa-brands.fa-linkedin