doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
.form_input
                                        .input-box
                                            p ID
                                            input(type='number' id='id_pro')
                                        .input-box
                                            p Tên
                                            input(type='text' id='name_pro' placeholder='Bánh')
                                        .input-box
                                            p Giá
                                            input(type='number' id='price_pro' placeholder='50')
                                        .input-box
                                            p Hình ảnh
                                            input(type='text' id='pic_pro' placeholder='https://...')
                                        .input-box
                                            p Mô tả
                                            input(type='text' id='desc_pro')
                                        
                                        .form_button
                                            button.button-login#Isnbtn Thêm
                                                //- button.button-login(id='Insbtn') Thêm

